<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html  lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
  
  <!--<title>Jelil Info | Building from ground up</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="Keywords" content="InfoTechCrush, The home of building from ground up"/>
  <meta name="author" content="Oyekanmi Oyetunji"/>
  <meta name="refresh" content="30"/>-->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="https://kit.fontawesome.com/40c559f4dd.js"></script>

  <!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	
	

<style>


</style>

<link rel="stylesheet" href="css/styleCV.css">
</head>



<body>
  
     <div id="CV">
     <button id = "btn_download" class="btn_download2">Click on me to download Jelil-Info's Resume</button>
     </div>

<!--<input type="radio" name="section" id="radio-section-0" checked />
<input type="radio" name="section" id="radio-section-1" />
<input type="radio" name="section" id="radio-section-2" />

<section id="section-0">
  <h2><label for="radio-section-0">Introduction</label></h2>
  <div>
    Content for the introduction.
  </div>
</section>
<section id="section-1">
  <h2><label for="radio-section-1">Previous Experience</label></h2>
  <div>
    Content for the Previous Experiences.
  </div>
</section>
<section id="section-2">
  <h2><label for="radio-section-2">Side Projects</label></h2>
  <div>
    Content for the side projects.
  </div>
</section>-->







</div>

    
      <script>//CODES FOR DOWNLOADING FROM SERVER 
    document.getElementById("btn_download").addEventListener("click", function() {
       
       window.open('/download');
       window.open('/Thanks');
       //Add this command just after
       //window.open('/download');
     });
     </script>
    </body>        
    