<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html  lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
  
  <!--<title>Jelil Info | Building from ground up</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="Keywords" content="InfoTechCrush, The home of building from ground up"/>
  <meta name="author" content="Oyekanmi Oyetunji"/>
  <meta name="refresh" content="30"/>-->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="https://kit.fontawesome.com/40c559f4dd.js"></script>

  <!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	
	

<style>


</style>

<link rel="stylesheet" href="css/styleCV.css">
</head>



<body>
  
     <div id="CV">
     <button id = "btn_download" class="btn_download2">Click on me to download Jelil-Info's Resume</button>
     </div>






<!-- The flexible grid (content) -->
<div class="row">
  <div class="left">

     <div>  
     <h1>OYEKANMI OYETUNJI</h1>
     <h2>FULL STACK DEVELOPER</h2>
     </div>

     <input type="radio" name="section" id="radio-section-0" checked />
     <input type="radio" name="section" id="radio-section-1" />
     <input type="radio" name="section" id="radio-section-2" />
     <input type="radio" name="section" id="radio-section-3" />
     <input type="radio" name="section" id="radio-section-4" />
     <input type="radio" name="section" id="radio-section-5" />
     <input type="radio" name="section" id="radio-section-6" />
     <input type="radio" name="section" id="radio-section-7" />
     
     <section id="section-0">
       <h3 ><label style="border-bottom: 2px solid black;" for="radio-section-0">PERSONAL DETAILS</label></h3>
       
       <div>

        
        <div class="grid-container1">
            <div class="grid-item1">Residential Address: <li style="display: inline;margin-left: 20px;">Ibadan, Oyo State,     Nigeria</li></div>
            <div class="grid-item1">Telephone Numbers:  <li style="display: inline;margin-left: 20px;"> 07030786761; 08155320855</li></div>  
            <div class="grid-item1">Email Address: <a style="color:#009999;margin-left: 100px;">oyekanmijelili@gmail.com</a></div>
            <div class="grid-item1">Personal Website:<a href="https://jelil-info.onrender.com/" target="_blank" style="color:#009999;margin-left: 65px;">https://jelil-info.onrender.com</a></div>
            <div class="grid-item1">Github: <a href="https://github.com/jelil-info" target="_blank" style="color:#009999;margin-left:215px;">github.com/jelil-info</a></div>  
          </div>
        
       </div>
     </section>

     <section id="section-1">
       <h3><label style="border-bottom: 2px solid black;" for="radio-section-1">WORK EXPERIENCE</label></h3>

       <div>
        <ul style="list-style-type: square;">
        
        <li>
        JavaScript Programmer.
        Experience: Working on various projects with different complexity
        using the technology stack: JavaScript and ECMAScript 6.
        </li>
        
        <li>
         Multisonic Technologies, Ibadan, Oyo State (Industrial Attachment).
        Experience: Construction of an Inverter, Installation of an Inverter
        with Solar Panel and Repairing of an inverter and UPS.</li>
        
        <li>
         Loyola College, Ibadan, Oyo State (N.Y.S.C). Responsibility: Physics Teacher.
        </li>
        
        </ul>
         </div>
        
         
        
       
     </section>

     <section id="section-2">
       <h3><label style="border-bottom: 2px solid black;" for="radio-section-2">PERSONAL PROJECTS</label></h3>
       <div>
  
        <!--<table style="height: 50%;">
        
        <tr> 
        <td style="padding: 5px;"> 
        <b>Personal Website</b><br/>
        <a href="https://jelil-info.herokuapp.com/" target="_blank">https://jelil-info.herokuapp.com/</a><br/>
        My personal website was deployed using github and heroku.
        My Website is based on pure codes of javascript, html, css and nodejs. This website doesn’t involve WordPress, Web builder or any frontend framework whatsoever.
        
        </td>
        </tr>
        
        <tr>
        <td style="padding: 5px;">  
          <b>Pomodoro Application</b><br/>
        <a href="https://jelil-info-pomodoro.herokuapp.com/" target="_blank">https://jelil-info-pomodoro.herokuapp.com/</a><br/>
        The Pomodoro technique is a time management technique . This
        technique consists of breaking down the working time into small intervals
        separated by short breaks.
        </td>
        </tr>
        
        <tr>
        <td style="padding: 0px;">
        <b>Shopping List Application</b><br/>
        <a href="https://jelil-info-shoppinglist.herokuapp.com/" target="_blank">https://jelil-info-shoppinglist.herokuapp.com/</a><br/>
        </td>
        </tr>
        
         </table>-->
        
         <div style="overflow-x: auto;">
          
         <table class="projects">
        
          <tr>
           <th>JavaScript</th>
           <th>ReactjS</th>
           <th>Vuejs</th>
          </tr>
          
          
        
           <td>
            <b>Personal Website</b><br/>
            <a href="https://jelil-info.onrender.com/" target="_blank">https://jelil-info.onrender.com</a>
            
            <p>My personal website was deployed using github and heroku.
              My Website is based on pure codes of javascript, html, css and nodejs. This website doesn’t involve WordPress, Web builder or any frontend framework whatsoever.
           </p>
           </td>
           
           <td>
            <b>Online Market</b>
            <a href="https://jelil-info-onlinemarket.onrender.com" target="_blank">jelil-info-onmarket.com</a><br/>

            <b>Social Media Website</b>
            <a href="https://jelil-info-mern-social.onrender.com/" target="_blank">jelil-info-mern-social.com</a><br/>

            <b>Expense Tracker Website</b><br/>
            <a href="https://dull-pear-bee-wrap.cyclic.app/" target="_blank">jelil-info-expense-tracker.com</a><br/>
            </td>
        
           <td>
            
            <b>Shopping List Application</b>
            <a href="https://shiny-hamster-6cfb93.netlify.app/" target="_blank">jelil-info-shoppinglist.com</a><br/>
         
        
            <b>Pomodoro Application</b>
            <a href="https://stellar-florentine-5b3c4a.netlify.app/" target="_blank">jelil-info-pomodoro.com</a><br/>
        
           </td>
        
          </table>

          </div><br/>


          <div style="overflow-x: auto;">
            <table class="projects">
           

           <tr>
           <th>HTML and CSS</th>
           <th>Angularjs</th>
           </tr>


           <td>
            <b>My Resume</b><br/>
            <a href="https://jelil-info.onrender.com/myResume" target="_blank">jelil-info.com/myResume</a><br/>
          </td>

          <td>
            <b></b><br/>
           <a href="/digitalMarketer" target="_blank"></a><br/>
          </td>
       
          </table>
           
          </div>
           
        </div>
        
        
      </section>








      <section id="section-3">
        <h3><label style="border-bottom: 2px solid black;" for="radio-section-3">SKILLS</label></h3>
        
        <div>
          <div style="width:100%;">
        
          
            
            <!--<table class="skills">
              <caption><h6>Front End</h6></caption>
              
              <tr class="skillsList">
                <td class="skill2">JavaScript: ES6</td>
                <td class="skill2">HTML5</td>
                <td class="skill2">CSS3</td>
                <td class="skill2">Angular</td>
                <td class="skill2">ReactJs</td>
                <td class="skill2">Vue.js</td>
                <td class="skill2">Bootstrap</td>
              </tr>
            
            </table>-->
           
         </div>
       
       
  
  
    
    
  
  <div>
  
  
    
     <div>
        <h4  style="color: #ff6666;">Front End</h4>
        <div class="grid-container">
          <div class="grid-item">JavaScript: ES6</div>
          <div class="grid-item">HTML5</div>
          <div class="grid-item">CSS3</div>  
          <div class="grid-item">Angular</div>
          <div class="grid-item">ReactJs</div>
          <div class="grid-item">React 360</div>
          <div class="grid-item">Vue.js</div>  
          <div class="grid-item">Bootstrap</div>
          <div class="grid-item">Material-UI</div>
        </div>
        
      
        <h4 style="color: #ff6666;">Back End</h4>
         
         
        <div class="grid-container">
          <div class="grid-item">NodeJs</div>
          <div class="grid-item">ExpressJs</div>
          <div class="grid-item">MongoDB</div>  
          <div class="grid-item">MySQL</div>  
        </div>
        
        <h4 style="color: #ff6666;">Tools</h4>
          
        
        <div class="grid-container">
          <div class="grid-item">Git</div>
          <div class="grid-item">Npm</div>
          <div class="grid-item">Server</div>  
          <div class="grid-item">Configuration</div>
          <div class="grid-item">Rest APIs</div>
          <div class="grid-item">Socket.IO</div>
          <div class="grid-item">Heroku</div>
        </div>
        
        
      </div>
      </div>
      
      
      
      
       
         
        </div>


        <!-- Marketing -->

<div class="right" style="margin-top: -89px;">
    
  
  <h3 style="margin-top: 200px;">Lists of My Insights on Digital Marketing and SEO</h3>
  
  
  <!--<ol class="DigitalSkills">
    <li>Creating Digital marketing strategy</li>
    <li>Uncovering the customer experience</li>
    <li>Dipping into content Creation</li>
    <li>Reaching Your Millennial Audience</li>
    <li>Implementing Channel Promotions</li>
    <li>Connecting with Influencers</li>
    <li>Facebook Marketing</li>
    <li>Deploying Other Social Media
    <li>Analyzing Data for Success</li>
  </ol>-->
  
  
        <table>
           <tr>
              <th>Digital Marketing</th>
              <th>Search Engine Optimization</th>
           </tr>
           <tr>
              <td class="BuisnessSkills1"> 
                 <ol class="BuisnessSkills">
                    <li>Creating Digital marketing strategy</li>
                    <li>Uncovering the customer experience</li>
                    <li>Dipping into content Creation</li>
                    <li>Reaching Your Millennial Audience</li>
                    <li>Implementing Channel Promotions</li>
                    <li>Connecting with Influencers</li>
                    <li>Facebook Marketing</li>
                    <li>Deploying Other Social Media
                    <li>Analyzing Data for Success</li>
  
                 </ol>
              </td>
              <td class="BuisnessSkills1">
                 <ol class="BuisnessSkills">
                    
                  <ol class="BuisnessSkills">
                    <li>Keyword Research</li>
                    <li> On-Page SEO</li>
                    <li>Link Building</li>
                    <li> Technical SEO</li>
                    <li>How search engines build their index</li>
                    <li>How search engines rank pages</li>
                    <li>How search engines personalize search results</li>
                    <li>Setting up for SEO success</li>
                    <li>How to track SEO success</li>
                    <li>SEO tools</li>
                  </ol>  
              </td>
             
          </tr>
                </table>
  
  
   
  <!--<table style="width:100%">
    
    <tr>
      <th colspan="3">Creating Digital marketing strategy</th>
    </tr>
    
    <tr>
    <td>Developing your overall digital strategy</td>
      <td>Grabbing the attention of your customer</td>
      <td>Discovering your buisness model and brand</td>
      </tr>
      
      <tr>
   <td>Deciding which marketing campaign to create</td>
      <td>Crafting offers that sell</td>
      <td>Planning B2B campaign success</td>
    </tr>
    
    
    
    <tr>
    <th colspan="3">Uncovering the customer experience</th>
    </tr>
    
    <tr>
      <td>Interacting with customer data</td>
      <td>Uncovering buyer personas</td>
      <td>Structuring the buyer journey</td>
    </tr>
    
    <tr>
      <td>Embracing sales enablement</td>
    </tr> 
    
    
    
    <tr>
      <th colspan="3">Dipping into content            Creation
      </th>
    </tr>
    
    <tr>
      <td>Creating your content plan</td>
      <td>Reviewing content types</td>
      <td>understanding the customer's intent</td>
    </tr>
    
    <tr>
      <td>Creating content that tells a story</td>
      <td>Defining your content framework using    processes and systems</td>
      <td>Targeting content for your B2B audience</td>
    </tr>
    
    <tr>
      <th colspan="3">Reaching Your Millennial Audience</th>
    </tr>
    
    <tr>
      <td>Figuring Out Millennials</td>
      <td>Looking at the Influence of Millennials</td>
      <td>Pursuing a Data Strategy</td>
    </tr>
    
    <tr>
      <td>Finding Millennials on Traditional Media</td>
      <td>Experimenting with the Share Economy</td>
      <td>Developing the Brand Experience</td>
    </tr>
    
    
    <tr>
      <th colspan="3">Implementing Channel Promotions</th>
    </tr>
    
    <tr>
      <td>Identifying Paid, Earned, Shared, and Owned Media</td>
      <td>Using Search Marketing</td>
      <td>Making Content Shareable</td>
    </tr>
    
    <tr>
      <td>Considering Email Marketing</td>
      <td></td>
      <td></td>
    </tr>
  
  
    <tr>
      <th colspan="3">Reaching Your Millennial Audience</th>
    </tr>
    
    <tr>
      <td>Figuring Out Millennials</td>
      <td>Looking at the Influence of Millennials</td>
      <td>Pursuing a Data Strategy</td>
    </tr>
    
    <tr>
      <td>Finding Millennials on Traditional Media</td>
      <td>Experimenting with the Share Economy</td>
      <td>Developing the Brand Experience</td>
    </tr>
    
    
    <tr>
      <th colspan="3">Connecting with Influencers</th>
    </tr>
    
    <tr>
      <td>Communicating with Influencers</td>
      <td>Collaborating to Win</td>
      <td>Engaging Influencers Using the “Three Cs”</td>
    </tr>
    
    <tr>
      <td>Succeeding with Influencer Marketing</td>
      <td>Getting Creative</td>
      <td>Working with an Agency</td>
    </tr>
  
    
    
    <tr>
      <th colspan="3">Facebook Marketing</th>
    </tr>
    
    <tr>
      <td>What Is Facebook, and Why Is It So popular?</td>
      <td>Creating a Facebook Marketing Plan</td>
      <td>Selling Products and Services Using Facebook Offers</td>
    </tr>
    
    <tr>
      <td>Uniting Facebook with Other Social Media
  </td>
      <td>Getting into Instagram</td>
      <td>Promoting Advanced Customer Engagement</td>
    </tr>
  
  
  <tr>
      <th colspan="3">Deploying Other Social Media</th>
    </tr>
    
    <tr>
      <td>Leveraging Social Media</td>
      <td>Working with Twitter</td>
      <td>Looking at YouTube</td>
    </tr>
    
    <tr>
      <td>Reviewing Pinterest</td>
      <td></td>
      <td></td>
   </tr>
    
    
   
   
   <tr>
      <th colspan="3">Analyzing Data for Success</th>
    </tr>
    
    <tr>
      <td>Looking Back at Your Business Model</td>
      <td>Reassessing Your Strategy</td>
      <td>Reviewing Ongoing Improvement for B2B Marketing</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  
    
    
    
    
    
    
    
    
    
  </table>-->
  
      </section>
 

      <section id="section-4">
        <h3><label style="border-bottom: 2px solid black;" for="radio-section-4">EDUCATIONAL BACKGROUND</label></h3>
        
        <div>
    
          
    
     
    
          <h4 style="margin-bottom: 0px;">Tertiary education:</h4>
           <table >
          <tr>
          <th>S/N</th>
           <th>Institution</th>
           <th>Degree</th>
          </tr>
          
          <tr>
           <td>1</td>
           <td>University of Ibadan, Ibadan, Oyo State.</td>
           <td>M.Sc. in Solid State Physics.</td>
          </tr>
           
          <tr>
          <td>2</td>
           <td>Ladoke Akintola University of Technology, Ogbomoso, Oyo State.</td>
           <td>B.Tech. in Pure and Applied Physics with Second Class(Upper Division).</td>
          </tr>
          
          <tr>
          <td>3</td>
          <td>The Federal Polytechnic, Ilaro, Ogun State.</td>
          <td>National Diploma in Electrical and Electronics Engineering.</td>
          </tr>
          
           </table>
           
           
           <h4 style="margin-bottom: 0px;">Secondary education:</h4>
          <table>
          <tr>
          <th>S/N</th>
          <th>Institution</th>
          <th>Level</th>
          </tr>
          
          <tr>
          <th>1</th>
          <td>Kings and Queens Academy, Osogbo, Osun State.</td>
          <td>Senior School Certificate</td>
          </tr>
           
          </table>
          
         
         
        </div>

      </section>
    


      <section id="section-5">
        <h3><label style="border-bottom: 2px solid black;" for="radio-section-5">OTHER AREAS OF EXPERTISE</label></h3>
        
        <div>

          <div>
           <ul style="list-style-type: square;">
           <li> Inverters Builder and Installer</li>
           <li> Proficiency in construction of locally made Inverters.</li>
           <li> Proficiency in repairing locally made and imported Inverters.</li>
           <li>Good at using Microsoft Office suite of products (Word, PowerPoint, and Excel).</li>
           </ul>
          </div>
          
 
        </div>
      </section>



      <section id="section-6">
        <h3><label style="border-bottom: 2px solid black;" for="radio-section-6">LANGUAGE SKILLS</label></h3>
        
        <div>

        
    <table>
    
    <tr>  
    <th>English</th>
    <th>Yoruba</th>
    <th>Arabic</th>
    </tr>
    
      
      <tr>
      <td>Full professional proficiency</td>
      <td>Native or bilingual proficiency</td>
      <td>Professional working proficiency</td>
      </tr>
    </table>
              
 
        </div>
      </section>
 
 
      <section id="section-7">
        <h3><label style="border-bottom: 2px solid black;" for="radio-section-7">LEISURE ACTIVITIES</label></h3>
        
        <div>

          <div>
            
            <p>Reading books, coding, carrying out research on electronics, and listening to bbcworldservice.com.</p>
          </div>
          
 
        </div>
      </section>

      
  
  </div>



  
      
      




      
 </div>
            <script>//CODES FOR DOWNLOADING FROM SERVER 
          document.getElementById("btn_download").addEventListener("click", function() {
             
             window.open('/download');
             window.open('/Thanks');
             //Add this command just after
             //window.open('/download');
           });
           </script>
 </body>        
  













    
  
  








