<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html  lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

<head>
  
  <title>Jelil Info | Building from ground up</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="Keywords" content="InfoTechCrush, The home of building from ground up"/>
  <meta name="author" content="Oyekanmi Oyetunji"/>
  <meta name="refresh" content="30"/>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="https://kit.fontawesome.com/40c559f4dd.js"></script>

  <!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	
	

<style>
.btn_download2 {
  background-color:   #ff9999;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}



.btn_download2:hover {
  background-color:  #ff6666;;
  color: white;
}

input {
  display: none;
}

section > div {
  display: none;
}

#radio-section-0:checked ~ #section-0 > div {
  display: block;
}

#radio-section-1:checked ~ #section-1 > div {
  display: block;
}

#radio-section-2:checked ~ #section-2 > div {
  display: block;
}



</style>
</head>



<body>
  
     <div id="CV">
     <button id = "btn_download" class="btn_download2">Click on me to download Jelil-Info's Resume</button>
     </div>

<input type="radio" name="section" id="radio-section-0" checked />
<input type="radio" name="section" id="radio-section-1" />
<input type="radio" name="section" id="radio-section-2" />

<section id="section-0">
  <h2><label for="radio-section-0">Introduction</label></h2>
  <div>
    Content for the introduction.
  </div>
</section>
<section id="section-1">
  <h2><label for="radio-section-1">Previous Experience</label></h2>
  <div>
    Content for the Previous Experiences.
  </div>
</section>
<section id="section-2">
  <h2><label for="radio-section-2">Side Projects</label></h2>
  <div>
    Content for the side projects.
  </div>
</section>



    
      <script>//CODES FOR DOWNLOADING FROM SERVER 
    document.getElementById("btn_download").addEventListener("click", function() {
       
       window.open('/download');
       window.open('/Thanks');
       //Add this command just after
       //window.open('/download');
     });
     </script>
    </body>        
    